/* 기본 스타일 (모바일 환경) */
.container {
  width: 95%;
  max-width: none;
  margin: auto;
  padding: 5px;
}

#search-img-area {
  min-width: 50%;
  max-width: 90%;
  border: 10px;
  margin: auto;
}


/* 미디어 쿼리 (데스크톱 환경) */
@media (min-width: 768px) {
  .container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }

  #search-img-area {
    padding: 10px;
    border: 20px;
  }
}

/* Finder */
h1 {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  margin-bottom: 40px;
}

#home-link a {
  text-decoration: none;
  color: inherit;
}

#top-bar {
  margin-top: 30px;
}

#status-message {
  margin: 10px 0;
}

#search-btn {
  cursor: pointer;
}

#result-img-area {
  border: 1px solid #ccc;
  padding: 50px;
  margin: auto;
}

footer {
  font-size: 14px;
  margin-top: 20px;
}